<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <nav class="navbar">

    <div class="logo">
        YYGS <span>SYMPOSIUM<span>
    </div>

    <ul class="nav-links">

        <li><a href="{{ url_for('search_users') }}">Search Users</a></li>

        <li><a href="{{ url_for('create_room') }}">Create Room</a></li>

        <li><a href="{{ url_for('join_room') }}">Join Room by Code</a></li>

        <li><a href="{{ url_for('browse_rooms') }}">Browse Public Rooms</a></li>

    </ul>

</nav>

    <h2>Home</h2>
    <p>Welcome, {{ username }}!</p>
    <p class="links"><a href="{{ url_for('logout') }}">Logout</a></p>

</body>
</html>