<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ header_title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <section class="hero">
        <div class="hero-content">

            <h1>Party <span>Search</span></h1>
            <h3 class="subtitle">Search Parameters:</h3>
            <form method="POST" class="search-form">
            Cuisine: <select name="c"><br>
                {% for i in restaurant %}
                <option value={{i}}>{{i.name}}</option>
                {% endfor %}
                </select><br>
                Earliest Time: <input type="datetime-local" name="d-min"><br>
                Latest Time: <input type="datetime-local" name="d-max"><br>
                <input type="submit" name="filter" value="Search"><input type="submit" name="clear" value="Clear Filter">
            </form>
            <table border="1">
                <thead>
                    <tr>
                        <th>Restaurant Name</th>
                        <th>Cuisine</th>
                        <th>Party Size</th>
                        <th>Party Host</th>
                        <th>Time of Day</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in parties %}
                    <tr>
                        <td>{{ i.r_name }}</td>
                        <td>{{ i.c }}</td>
                        <td>{{ i.p_size }}</td>
                        <td>{{ i.p_host }}</td>
                        <td>{{ i.p_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</body>
</html>