<nav class="navbar">

    <div class="logo">
        PARTY <span>UP!<span>
    </div>

    <ul class="nav-links">

        <li><a href="{{ url_for('home') }}">Home</a></li>

        <li><a href="{{ url_for('create_room') }}">Create Room</a></li>

        <li><a href="{{ url_for('join_room') }}">Join Room by Code</a></li>

        <li><a href="{{ url_for('browse_rooms') }}">Browse Public Rooms</a></li>

        <li><a href="{{ url_for('create_party') }}">Create Party</a></li>

        <li><a href="{{ url_for('party_search') }}">Find Parties</a></li>

        <li><a href="{{ url_for('restaurant_search') }}">Find Restaurants</a></li>

        <li><a href="{{ url_for('map_view') }}">Map</a></li>
        
    </ul>

</nav>